<b>Importing Mandatory Libraries </b>

In [1]:
import pandas as pd
import numpy as np

<b> Web Scraping Wikipedia Tables using BeautifulSoup </b>

In [2]:
capstone_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [3]:
capstone_data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [4]:
capstone_data.columns = ['PostalCode','Borough','Neighborhood']

In [5]:
capstone_data.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

In [6]:
capstone_data.drop(capstone_data[capstone_data['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [7]:
capstone_data.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

In [8]:
capstone_data.shape

(210, 3)

In [9]:
capstone_data.head(19)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A  Downtown Toronto      Queen's Park
9         M9A      Queen's Park      Not assigned
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North
14        M4B         East York  Woodbine Gardens
15        M4B         East York     Parkview Hill
16        M5B  Downtown Toronto           Ryerson
17        M5B  Downtown Toronto   Garden District
18        M6B        North York         Glencairn
21        M9B         Etobicoke        Cloverdale
22        M9B         Etobicoke         Islington
23        M9B         Etobicoke      Martin Grove
24        M9B         Etobicoke  Princess Gardens

In [10]:
capstone_data['Neighborhood'].mask(capstone_data['Neighborhood']=='Not assigned', capstone_data['Borough'], inplace=True)

In [11]:

#capstone_data.reset_index(drop=True, inplace=True)
#capstone_data = temp.copy()
capstone_data

    PostalCode           Borough              Neighborhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M6A        North York          Lawrence Heights
6          M6A        North York            Lawrence Manor
..         ...               ...                       ...
281        M8Z         Etobicoke  Kingsway Park South West
282        M8Z         Etobicoke                 Mimico NW
283        M8Z         Etobicoke        The Queensway West
284        M8Z         Etobicoke     Royal York South West
285        M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [12]:
temp = capstone_data.copy()

In [13]:
temp.head(10)

   PostalCode           Borough      Neighborhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A  Downtown Toronto      Queen's Park
9         M9A      Queen's Park      Queen's Park
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North

In [14]:
tempe= temp.groupby('PostalCode').agg(lambda x: ','.join(x))

In [16]:
tempe

,Borough,Neighborhood
PostalCode,,
M1B,"Scarborough,Scarborough","Rouge,Malvern"
M1C,"Scarborough,Scarborough,Scarborough","Highland Creek,Rouge Hill,Port Union"
M1E,"Scarborough,Scarborough,Scarborough","Guildwood,Morningside,West Hill"
M1G,Scarborough,Woburn
M1H,Scarborough,Cedarbrae
...,...,...
M9N,York,Weston
M9P,Etobicoke,Westmount
M9R,"Etobicoke,Etobicoke,Etobicoke,Etobicoke","Kingsview Village,Martin Grove Gardens,Richvie..."
M9V,"Etobicoke,Etobicoke,Etobicoke,Etobicoke,Etobic...","Albion Gardens,Beaumond Heights,Humbergate,Jam..."
M9W,Etobicoke,Northwest

In [17]:
tempe['Borough']= tempe['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")

In [18]:
tempe

                Borough                                       Neighborhood
PostalCode
M1B         Scarborough                                      Rouge,Malvern
M1C         Scarborough               Highland Creek,Rouge Hill,Port Union
M1E         Scarborough                    Guildwood,Morningside,West Hill
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae
...                 ...                                                ...
M9N                York                                             Weston
M9P           Etobicoke                                          Westmount
M9R           Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
M9V           Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
M9W           Etobicoke                                          Northwest

[103 rows x 2 columns]

In [19]:
tempe

                Borough                                       Neighborhood
PostalCode
M1B         Scarborough                                      Rouge,Malvern
M1C         Scarborough               Highland Creek,Rouge Hill,Port Union
M1E         Scarborough                    Guildwood,Morningside,West Hill
M1G         Scarborough                                             Woburn
M1H         Scarborough                                          Cedarbrae
...                 ...                                                ...
M9N                York                                             Weston
M9P           Etobicoke                                          Westmount
M9R           Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
M9V           Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
M9W           Etobicoke                                          Northwest

[103 rows x 2 columns]

In [20]:
tempe.shape

(103, 2)

In [23]:
tempe.reset_index(inplace=True)

In [24]:
tempe.shape

(103, 3)

In [25]:
tempe

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]