<div style="background-color:#f0f0f0;border: 2px solid red; border-radius: 5px; align:center;margin: auto;padding: 25px 50px 50px 50px"> <h1 style="color:red"><b>Capstone Project </b></h1>
    <p> <b>Data Preprocessing - Segmenting and Clustering Neighborhoods in Toronto </p></div>

<b>Importing Mandatory Libraries </b>

In [2]:
import pandas as pd
import numpy as np

<b> Web Scraping Wikipedia Tables using Pandas </b>

In [17]:
torronto_data= pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [18]:
#Renaming the columns as per the name mentioned under assignment
torronto_data.columns = ['PostalCode','Borough','Neighborhood']

<b>Processing only the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [19]:
torronto_data.drop(torronto_data[torronto_data['Borough']=="Not assigned"].index,axis=0, inplace=True)

In [20]:
torronto_data.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

<b> Neighborhood that are not assigned, are replaced with their respective Borough name.

In [21]:
torronto_data['Neighborhood'].mask(torronto_data['Neighborhood']=='Not assigned', torronto_data['Borough'], inplace=True)

In [22]:
torronto_data.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

<b> Merging the Neighborhood separated by comma for the same Postal Code

In [23]:
torronto_data= torronto_data.groupby('PostalCode').agg(lambda x: ','.join(x))

In [24]:
#Removing the duplicates from the table
torronto_data['Borough']= torronto_data['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")

In [25]:
torronto_data.head()

                Borough                          Neighborhood
PostalCode
M1B         Scarborough                         Rouge,Malvern
M1C         Scarborough  Highland Creek,Rouge Hill,Port Union
M1E         Scarborough       Guildwood,Morningside,West Hill
M1G         Scarborough                                Woburn
M1H         Scarborough                             Cedarbrae

In [26]:
#Resetting index
torronto_data.reset_index()

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                      Rouge,Malvern
1          M1C  Scarborough               Highland Creek,Rouge Hill,Port Union
2          M1E  Scarborough                    Guildwood,Morningside,West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V    Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [27]:
torronto_data.shape

(103, 2)